/*App and Nav*/
html{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
html, body{
    margin: 0px;
    background: white;
    /*font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;*/
    font-family: arial, sans-serif;
}

header {
    width: 100%;
}

p{
    line-height: 125%;
}

div {
    display: block;
}

h1{
	font-size: 22px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
}

h2{
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
}

h3{
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

.top-margin{
    margin-top:25px;
}

hr{
    border-top: 1px solid darkgray;
    /*margin: 50px 0px;*/
}
hr.new4 {
    border: 1px solid #990000;
  }

button {width: 150px; height: 50px; cursor: pointer; color: whitesmoke;
    background: black; border: none; border-radius: 10px;
    padding: 5px;
    transition: .5s;}


button:hover{
    background: #333333;
}

button a{
    color: white;
    text-decoration: none;
}

section{
    max-width: 1200px;
    width: 75%;
    color: #222222;
    margin: auto;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.break {
    flex-basis: 100%;
    height: 0;
}

img {
    height: 40px;
}

.logo{
    display: flex;
    text-decoration: none;
}

:visited {
    color: whitesmoke;
}

.bar{
    display: flex;
    align-items: center;
    width: 100%;
    /*max-width: 1200px;*/
    /*padding: 0px 12.5%;*/
}

#usc{
    justify-content: center;
    text-align: right;
    background: #990000;
    height: 50px;
    z-index:6;
}

#usc img{
    height: 30px;
    padding: 10px 0px;
}

.usc {
    margin-right: 1%;
    color: #FFCC00;
}

#slab {
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/slab/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:6;
    width: 100%;
    /*background-attachment: fixed;*/
}

#slab h1{
    /*margin: 0px 10px 0px 0px;*/
    font-size: 40px;
}

.lab {
    color: white;
}

#slab a{
    padding: 25px 0px;
}

#nav {
    height: 55px;
    padding: 10px auto;
    align-items: center;
    justify-content: center;
    background: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index:5;
}

#usc, #slab {
    z-index: 10;
}




.dropdown {
    color: white;
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

    opacity: 0;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute; 
    top: calc(100% + 15px);
    left: 0;
    transition: 0.5s;
}


/* Links inside the dropdown */
#links .dropdown-content a {
    font-size: 13px;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block; 
}

/* Change color of dropdown links on hover */
.dropdown-content a {color: white;}
.dropdown-content a:visited {color: white;}
.dropdown-content a:hover {background-color: #111111;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {opacity: 1;}

/*.dropdown:hover .dropbtn {}*/

.dropicon{
    padding-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
}
.icon{
    width: 100%;
    /*padding: 20px 0px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
}

/*.icon:hover{*/
/*    background: black;*/
/*}*/

.stretch{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

a {
	color: black;
	text-decoration: none;
	transition: .5s;
}

a:hover{
	color: #FFCC00;
}

a:visited {
	color: #FFFFFF;
}


#links a {
    color: white;
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: color .5s;
}

#links a:hover{
    color: #FFCC00;
}

#links a.currentLink {
    color: #FFCC00;
}

.feature {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.feature img{
    max-width: 250px;
    width: 250px;
    height: auto;
    margin: 10px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Front Page */
.soon {
    height: 400px;
}
.content{
	margin: 25px 0px 25px 0px;
    /*min-height: calc(100vh - 450px);*/
}

#carousel-bar{
    justify-content: center;
    align-items: flex-start;
}

#img-carousel{
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: calc((600 / 1100)*75vw);
    max-height: 656px;
    margin-top:25px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    transition: left 0s 0.75s;
}

.menu {
     position: absolute;
     left: 0;
     z-index: 4;
     width: 100%;
     bottom: 0;
 }

#img-carousel input{
    visibility: hidden;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 10px;
    background: #ffff00;
    opacity: 60%;
  	border-radius: 4px;
    margin: 0 0.2em 1em;
}
.menu label:hover,
.menu label:focus {
    opacity: 100%;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 3;
    transition: left 0.65s ease-out;
}

.slide-1 {
    background-image: url('../assets/featured/prosthesis.jpg');
}
.slide-2 {
    background-image: url('../assets/featured/lab.jpg');
}
.slide-3 {
    background-image: url('../assets/featured/Songwordle.png');
}

.content a:visited{
    color: #666666
}

.feature-text{
   width: calc(100% - (250px + 50px))
}

.feature-head{
    width: 250px;
}

.reverse{
    flex-wrap: wrap-reverse;
}

.margin-left{
    margin-left: 50px;
}

.margin-right{
    margin-right: 50px;
}

#menu-toggle{
    flex-grow: 1;
    color: #FFC72C;
    display:none;
    text-align: center;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}


/* Research */

#research .feature{
    justify-content: flex-start;
    align-items: center;
    margin:25px 0px;
}

/* News */

#news .feature{
    justify-content: flex-start;
    align-items: center;
    margin:25px 0px;
}

#news .feature img{
    max-width: 130px;
    width: 130px;
    height: auto;
    margin: 10px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#news .feature button{
    width: auto;
    height: auto;
}

#news .feature h3{
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

/* People */

#people-selector{
    display: flex;
    margin: 25px 0px 25px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#people-selector button{
    /*width: 300px;*/
    flex-grow: 1;
    margin: 0px 25px;
}

#people .feature {
    margin-bottom: 50px;
}

#people hr {
    margin-top:0px;
    margin-bottom:25px;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 250px;
}

.social a svg{
    fill: darkgray;
    transition: .5s;
}

.social a {
    position: relative;
    cursor: pointer;
    margin: 5px 10px 0px 0px;
    transition: .5s;
}

.social a:hover svg {
    fill: lightgray;
}

.social a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.social a:hover:before {
    visibility: visible;
    width: 100%;
}

/* Publications */
#publications p {
    font-size: 100;
}

.underheader{
    margin-top:0px;
    margin-bottom:10px;
}

/* Resources */

#resources .feature{
    align-items: stretch;
}

#resources .feature-head{
    padding-right:50px;
    width: 400px;
    min-height: 200px;
}


/* Hero */

#hero1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/hmp/HMP.jpg')
}
#hero2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/brain.gif')
}

.hero{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 75px);
    width: 100vw;
    display:table-cell;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/*Footer*/

.footer-text{
    font-size: 12px;
}

#footer {
    display: flex;
    color: white;
    /*height: 150px;*/
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #000000;
    padding: 10px 0px;
}

#footer section{
    display: flex;
    align-items: center;
}

#footer a {
	font-size: 90%;
	color: #FFFFFF;
}

#footer p{
    margin-top:5px;
}

#footer img{
    max-height:100px;
    max-width: 100%;
    width: auto;
    height: auto;


}

#footer-left{
    flex-grow: 2;
}

#footer-right{
    text-align: right;
    flex-grow: 1;
}


.unavailable{
    color: #777777;
    cursor: default;
    font-size: 12px;
}


@media (max-width: 800px) {

    .feature{
        justify-content: center;
    }

    #menu-toggle {
        /* transform: translateY(50%); */
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.3);
    }


    .dropicon {display:none}

    #nav section{
        width: 100%;
    }

    #links{
        z-index:3;
        position: relative;
        background: black;
        padding: 0px;
        max-height: 0;
        overflow: hidden;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: transparent;
    }

    #links a {
        padding: 5px;
        font-size: 20px;
    }

    #links.open {
        padding: 25px 12.5% 25px 12.5%;
        max-height: 5000px;
    }

    #links a {
        margin: 0px;
    }

    #research .feature-text, .feature-left{
        margin: 0px auto 0px auto;
        justify-content: center;
        align-items: center;
    }

    #resources .feature-text, .feature-left{
        margin: 0px auto 0px auto;
        justify-content: center;
        align-items: center;
    }

    .feature-text{
        max-width: 2000px;
        width: 100%;
        text-align: left;
    }
    .margin-left{
        margin-left: 0px;
    }
    .margin-right{
        margin-right: 0px;
    }


    .dropdown-content {
        position: relative;
        color: white;
        opacity: 1;
    }

    #links .dropdown-content a {
        padding: 10px;
    }
}

@media (max-width: 600px) {

    /*#nav {*/
    /*    background: red;*/
    /*}*/

    #slab h1 {
        font-size: 25px;
    }
}
/* Lab Featured News Section */
#lab_news{
    
    
    /*height: 150px;*/
    justify-content: center;
    align-items: center;
    
    border: 20px #990000;
    padding: 50px;
    margin: 100px;
}
#lab_news p{
    margin-top: 5px;
    margin: 20px;
    color:#000000;
}
#lab_news a{
    font-size: 90%;
    color:rgba(0, 0, 0, 100);
}
#lab_news h1{
    margin: 10px;
    color: #000000;
}
#lab_news h2{
    margin: 5px;
    color:#000000;
    padding: 5px;
}
#lab_news h3{
    color: #990000;
    margin: 15px;
}
#lab_news_header{
    justify-content: right;
    align-content: left;
}
#lab_news img{

    align-self: center;
    margin: 25px;
    padding: 0%;
    max-width: 100%;
    width: auto;   
    height: auto;
}
#gallery {
  
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }
 #gallery img {
    
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }
 /* Ongoing Projects Page */
 #projects{   
    /*height: 150px;*/
    justify-content: center;
    align-items: center;
    
    border: 20px #990000;
    padding: 50px;
    margin-left: 50px;
}
 #projects-selector{
    display: flex;
    margin: 25px 0px 25px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#projects-selector button{
    /*width: 300px;*/
    flex-grow: 1;
    margin: 0px 25px;
}

#projects .feature {
    margin-bottom: 50px;
}

#projects hr {
    margin-top:0px;
    margin-bottom:25px;
}
#projects img{
    align-self: left;
    width: auto;
    height: auto;
    padding: 0%;
   

}
/* Featured Publication Page*/

#feat-pub{
    justify-content: center;
    align-items: center;
    width: auto;
    border: 20px #990000;
    padding: 50px;
    margin-left: 150px;
    margin-right: auto;
}
#feat-pub .feature {
    margin-bottom: 50px;
}

#feat-pub hr {
    margin-top:0px;
    margin-bottom:25px;
}
#feat-pub img{
    align-self: left;
    width: auto;
    height: auto;
    padding: 0%;
   

}
 
