/*App and Nav*/

html, body{
    margin: 0px;
    background: black;
}

div {
    display: block;
}

h1{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h2{
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h3{
    font-size: 25px;
    font-weight: 400;
}

button {width: 100%; height: 50px; cursor: pointer; color: white;
    background: #7373FF; border: none; padding: 10px; font-weight: bold;}

section{
    color: white;
    margin: 75px;
}

#app {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

img {
    height: 40px;
}

#logo{
    text-decoration: none;
}
#logo:visited {
    color: white;
}

:visited {
    color: pink;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #111111;
    padding: 0px 50px;
    position: sticky;
    top: 0;
    left: 0;
}

.stretch{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

a.text {
    color: #FF76E9;
    text-decoration: none;
}

a.text:visited {
    color: #999999;
}

#nav a.link {
    margin-left: 20px;
    font-size: 12px;
}

a.link {
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: 5px 0px;
    transition: .5s;
}

a.link:hover {
    color: white;
}

a.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.link:hover:before {
    visibility: visible;
    width: 100%;
}

a.link.router-link-exact-active {
    color: gray;
}

@media (max-width: 630px) {
    #nav a.link{
        display: none;
    }
}

/* Hero */

#hero1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/hmp/HMP.jpg')
}
#hero2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/brain.gif')
}

.hero{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 75px);
    width: 100vw;
    display:table-cell;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

@media (max-width: 630px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.buttons {
    margin: 50px 0px;
}

.button {
    margin: 0px 20px 20px 0px;
    padding: 10px 20px;
    /* background: #FF76E9; */
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    transition: 0.5s;
}

.button:hover{
    color: gray;
    border-color: gray;
}


/*Footer*/

.footer-text{
    font-size: 12px;
}

#footer {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 50px;
    background: #111111;
}

.unavailable{
    color: #777777;
    cursor: default;
    font-size: 12px;
}

/* Contact */
.contact{
    display: flex;
    height:calc(100vh - 225px);
    justify-content: center;
    align-items: center;
}

/* Brainstorm */
#brainstorm h1{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

#brainstorm p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

#tutorial{
    width: 100%; background: rgb(0,0,0);
    position: fixed; top: 0;
    left: 0; height: 100%; z-index:2;
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: center; opacity:90%;}

#tutorial-text{
    background: rgb(0,0,0);
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: center;}

#open-tutorial{
    width: 100%; border-radius: 0px; height: 50px; cursor: pointer; color: white; background: #50B5FF
; border: none; padding: 10px;
}

#close-tutorial{
    width: 250px; border-radius: 0px; height: 50px; cursor: pointer; color: white; background: #50B5FF
; border: none; padding: 10px;
}

#parameters{
    position: fixed; width: 250px; background: rgb(25,25,25);
    top: 0px; left: 0px; padding: 0px;
}
#parameters div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin: 20px 10px;
}
#parameters input{
    margin: 10px;
    flex-grow: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #7373FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #7373FF;
    cursor: pointer;
}

#chat {width: 300px; background: rgb(5,5,5);
    position: fixed; top: 0;
    right: 0; z-index:1;
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: flex-start;
}

form { flex-grow: 1; height: 15vh; padding: 0px 20px; display: flex; align-items: center; justify-content:center; background: rgb(50,50,50);}
form input {
    flex-grow:4; height: 50px; border: 0; padding: 0px 20px; background: rgb(10,10,10); color:white;
}
form input:focus{
    outline: none;
}
form button {flex-grow: 1; width: auto;}
#messages {width: 100%; margin: 0; padding: 0px; height: 85vh; list-style-type: none; text-align: left; }
#messages li { flex-grow: 1; padding: 5px 10px; color: whitesmoke;}
#messages li:nth-child(odd) { background: rgb(15,15,15)}

